
<ul class="nav navbar-nav side-nav">
    <li><%= link_to(root_path) do %>
        <i class="fa fa-fw fa-dashboard" aria-hidden="true"></i> Início</li>
    <% end %>
    <li><%= link_to(root_path) do %>
        <i class="fa fa-fw fa-calendar" aria-hidden="true"></i> Eventos</li>
    <% end %>
    <li><%= link_to(root_path) do %>
        <i class="fa fa-fw fa-usd" aria-hidden="true"></i> Classificados</li>
    <% end %>
    <li><%= link_to(users_path) do %>
        <i class="fa fa-fw fa-users" aria-hidden="true"></i> Moradores</li>
    <% end %>
    <li><%= link_to(root_path) do %>
        <i class="fa fa-fw fa-files-o" aria-hidden="true"></i> Documentos</li>
    <% end %>
    <li><%= link_to(root_path) do %>
        <i class="fa fa-fw fa-tags" aria-hidden="true"></i> Enquetes</li>
    <% end %>
    <li><%= link_to(root_path) do %>
        <i class="fa fa-fw fa-fire" aria-hidden="true"></i> Ocorrências</li>
    <% end %>
</ul>
